html * {
  font-family: 'Poppins', sans-serif !important;
}

.navbar {
  background: #007AFF;
  color: white;
}

.nav-link {
  color: white !important;
}

.tombol {
  background-color: #3A572E;
  border: #3A572E 1px;
  width: auto;
}

.textPrimary {
  color: #3A572E;
}

.bgPrimary {
  background-color: #3A572E;
}

/* Jumbotron */
.jumbotron {
  margin-top: 70px;
  background:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../img/background.png);
  background-size: cover;
  height: 400px;
  text-align: center;
  border-radius: 20px;
}

.jumbotron .titleJumbotron {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 24px;
  margin-bottom: 10px;
}

.jumbotron .captionJumbotron {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 30px;
  margin-bottom: 30px;
}

.border {
  border-radius: 10px;
}

.container.p-3 {
  margin-top: -100px;
  width: 85%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.box {
  background: #007AFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.box-white {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.btn-primary {
  background-color: #5E5CE6 !important;
}

h5.mt-2 {
  color: #007AFF;
  font-weight: bold;
}

h6.mt-2 {
  font-weight: bold;
}

.subtittle {
  font-size: 14px;
  line-height: 12px;
}

.subtittle.bold {
  font-weight: bold;
  font-size: 22px;
  line-height: 36px;
}

.subtext {
  font-weight: bold;
  font-size: 40px;
  line-height: 36px;
}

@media (min-width: 200px) and (max-width: 500px) {
  .jumbotron .titleJumbotron {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .jumbotron .captcaptionJumbotronion {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .jumbotron {
    height: 300px;
  }

  .container.p-3 {
    margin-top: -120px;
  }

  .subtittle {
    font-size: 14px;
    line-height: 16px;
  }

  .subtittle.bold {
    font-size: 14px;
    line-height: 16px;
  }

  .subtext {
    font-size: 20px;
    line-height: 16px;
  }
}